# Rename this file to .env and update the values as needed before running the application.

# APP CONFIGURATION
# --------------------------

APP_NAME=EndpointDLP
APP_VERSION=1.0.0
APP_DESCRIPTION=API for Endpoint Data Loss Prevention.
DEBUG=False # Set to True for development, False for production

# INITIAL ADMIN
# --------------------------

# Inital admin account credentials. Change these before deploying to production.
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=admin123
INITIAL_ADMIN_EMAIL=admin@example.com

# SECURITY CONFIGURATION
# --------------------------

# CORS
# For development, you can use CORS_ORIGINS=["*"] to allow all origins. For production, specify the allowed origins.
CORS_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173", "http://192.168.1.5:5173"]

# JWT
# Use a strong secret key in production
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480


# Database
# Fromat: postgresql+asyncpg://postgres:password@database_host:port/database_name
# Example
# DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/dlpserver
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/dlpserver

# PAGINATION
DEFAULT_PAGE_SIZE=10
MAX_PAGE_SIZE=100


# SERVER INITIAL SETTINGS

# Interval for agents to send heartbeat to server (in seconds)
HEARTBEAT_INTERVAL_SECONDS=300

# Interval for server to check for offline agents (in seconds)
OFFLINE_SCAN_INTERVAL_SECONDS=60

# If enable automatic clean up of logs older than VIOLATION_LOG_RETENTION_DAYS
AUTO_CLEAN_UP_VIOLATION_LOG=false

# Number of days to retain logs. Logs older than this will be deleted if AUTO_CLEAN_UP_VIOLATION_LOG is true.
VIOLATION_LOG_RETENTION_DAYS=30